streamlit
openai
langchain
langchain-openai
langchain-community
langchainhub
langchain-chroma
beautifulsoup4
ipykernel
python-dotenv
langgraph 
langsmith 
langchain_anthropic
tavily-python 
langchain_community